*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292d32;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #292d32;
    padding: 25px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #515861,
                      5px 5px 12px #181a1d;
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

::placeholder{
    color: #5f6770;
}

input{
    grid-column: span 4;
    height: 90px;
    width: 260px;
    background-color: #292d32;
    box-shadow: inset -5px -5px 12px #515861,
                inset  5px 5px 12px #181a1d;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button{
    height: 50px;
    width: 50px;
    background-color: #292d32;
    box-shadow: -5px -5px 12px #515861,
                 5px 5px 12px #181a1d;
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 15px;
    color: #fff;
}

#equal{
    width: 115px;
    border-radius: 40px;
    background-color: #9e5f25;
    box-shadow: -5px -5px 12px #515861,
                 5px 5px 12px #181a1d;
}
